<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles.css" rel="stylesheet">

    <title>Your page title</title>
</head>
<body>
    {% comment %} NAVBAR {% endcomment %}
    {% include nav.liquid %}

    {% comment %} MAIN CONTENT {% endcomment %}
    {{ content }}

    {% comment %} FOOTER {% endcomment %}
    {% include footer.liquid %}
    
</body>
</html>